.env/

.idea/

.vagga/

node_modules/

config/local.py

# Ignore python cache
__pycache__/

# Ignore python compiled files
*.pyc

# Ignore generated statics
static/build/

# Some secret tokens and variables
secrets.py