@font-face
  font-family OpenSans
  font-style normal
  src url(../../fonts/OpenSans-Regular.ttf)

@font-face
  font-family Scada
  font-style normal
  src url(../../fonts/Scada-Regular.ttf)


@font-face
  font-family Scada
  font-style bold
  src url(../../fonts/Scada-Bold.ttf)