
$basic-padding = 15px

$header-height = 50px

$action-button-size = 56px

$margin-bottom-form = 45px

$padding-unit-form = 10px

$input-field-width = 300px

$bar-height = 2px

$button-height = 36px


//Colors

$highlight-form-color = #757575

$label-form-color = #999

$label-active-color = #5264A

$bar-color = #5264AE

$button-color = #09b0ff


//images

$add-button = url(../static/assets/ic_add_black_24px.svg)

$ok-button = url('../static/assets/ic_done_black_24px.svg')