@import "xr-configs/reset.styl"
@import "xr-configs/variables.styl"
@import "xr-configs/fonts.styl"

@import "xr-body.styl"

@import "xr-configs/media.styl"

@import "blocks/xr-header/index.styl"
@import "blocks/xr-card/index.styl"

@import "blocks/xr-button/index.styl"

@import "blocks/xr-form/index.styl"

@import "blocks/xr-wrapper/index.styl"