.xr-button
  width: $action-button-size
  height: $action-button-size
  border-radius: 50%
  box-shadow: 0 5px 10px rgba(0,0,0, 0.4)
  background-color: deeppink
  background-position: center
  background-repeat: no-repeat