
.xr-form__button
  height: $button-height
  width: $input-field-width
  background-color: $button-color
  color: white
  border-radius: 2px
  display: flex
  justify-content: center
  align-items: center

  &:hover
    box-shadow: 0 0 10px rgba(0,0,0,0.4)