.xr-card
  display: flex
  flex-direction: column
  align-content: left
  margin: $basic-padding
  box-shadow: 0 0 10px rgba(0,0,0, 0.4)

  &:first-child
    margin-top: $header-height + $basic-padding
