.xr-header__icon
  content: ''
  display: block
  height: 2px
  width: 50px
  background-color: whitesmoke
  border-radius: 1px
  position: relative

  &after
    top: -17px

  &before
    top: 15px

  &:after,
  &:before
    content: ''
    display: block
    height: 2px
    width: 100%
    background-color: whitesmoke
    border-radius: 1px
    position: relative

