{% extends 'base.html' %}

{% block content %}

    <div class="xr-header">
        <div class="xr-header__title">

        </div>
    </div>

{#    This must be in for cycle for render cards#}
    <div class="xr-card">
        <div class="xr-card__image">

        </div>
        <div class="xr-card__title">
            Some test title
        </div>
        <div class="xr-card__description">
            Some test description
        </div>
        <div class="xr-class__button">
            more..
        </div>
    </div>

{% endblock %}