{% extends 'base.html' %}

{% block content %}
    <div data-bazooka="listAdventures"
    >
    </div>

    <div class="xr-card__container">
        {#    This must be in for cycle for render cards#}
        <div class="xr-card">
            <img src="{{ url_for('static', filename="assets/sun.jpg") }}"
                 class="xr-card__image"/>
            <div class="xr-card__content">
                <div class="xr-card__title">
                    Some test title
                </div>
                <div class="xr-card__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                </div>
                <div class="xr-card__button">
                    more..
                </div>
            </div>
        </div>

        <div class="xr-card">
            <img src="{{ url_for('static', filename="assets/sun.jpg") }}"
                 class="xr-card__image"/>
            <div class="xr-card__content">
                <div class="xr-card__title">
                    Some test title
                </div>
                <div class="xr-card__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                </div>
                <div class="xr-card__button">
                    more..
                </div>
            </div>
        </div>
        <div class="xr-button xr-button_add">
        </div>
    </div>

{% endblock %}
